.service-block {
    margin-top: 500px;
    background-color: #70D1F9;
    padding-top: 50px;
    padding-bottom: 50px;
    border-left: 1px solid #FFF;
}

.service-block h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px 1px rgba(2,2,2,0.4);
}

.service-block:hover {
    background-color: #59a7c7;
    cursor: pointer;
}