#companyHomeSection {
    clear: both;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    padding-top: 25px;
}
#institutionalVideo {
    height: 100%;
    /*background-color: #c5ecfc;*/
    background-color: #f0f0f0;
    border-bottom: 1px solid #efefef;
    clear: both;
    width: 100%;
    position: absolute;
    top: 200%;
    padding-top: 25px;
}
#services {
    height: 100%;
    background-color: #f2f2f2;
    /*background-color: #d4f1fd;*/
    border-bottom: 1px solid #efefef;
    clear: both;
    width: 100%;
    position: absolute;
    top: 300%;
    padding-top: 25px;
}
#positiveAmbientPoint {
    height: 100%;
    background-color: #f5f5f5;
    /*background-color: #e2f5fd;*/
    border-bottom: 1px solid #efefef;
    clear: both;
    width: 100%;
    position: absolute;
    top: 400%;
    padding-top: 25px;
}
#recentBlog {
    height: 100%;
    background-color: #f2f2f2;
    /*background-color: #f0fafe;*/
    border-bottom: 1px solid #efefef;
    clear: both;
    width: 100%;
    position: absolute;
    top: 500%;
    padding-top: 25px;
}
.arrowCompany {
    position: absolute;
    bottom: 45px;
    z-index: 900000;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    animation: blinker 2s linear infinite;
}
.arrowCompany:hover {
    cursor: pointer !important;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}
.arrowMovie {
    position: absolute;
    top: calc(200% - 100px);
    z-index: 900000;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    animation: blinker 2s linear infinite;
}
.arrowMovie:hover {
    cursor: pointer !important;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}
.arrowServices {
    position: absolute;
    top: calc(300% - 100px);
    z-index: 900000;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    animation: blinker 2s linear infinite;
}
.arrowServices:hover {
    cursor: pointer !important;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}
.arrowPositive {
    position: absolute;
    top: calc(400% - 100px);
    z-index: 900000;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    animation: blinker 2s linear infinite;
}
.arrowPositive:hover {
    cursor: pointer !important;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}
@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}
#homePage section {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.panel-movie {
    max-width: 750px;
    margin: 0 auto;
}