#companyHomeSection {
    clear: both;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    padding-top: 25px;
}
#institutionalVideo {
    clear: both;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 200%;
    padding-top: 25px;
}