#navWrapper {
    width: 100%;
}
nav {
    padding-top: 15px;
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,1)),to(rgba(255,255,255,0.9)));*/
    height: 80px;
    z-index: 30000 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    /*border-bottom: 1px solid #adadad;*/
}
/*#brand {*/
    /*width: 117px;*/
    /*height: 52px;*/
    /*background-image: url('../../../public/brand/logo_giga.png')*/
/*}*/
#brand-image {
    height: 52px;
}
@media (min-width: 1280px) {
    .mobileMenuOverlay {
        display: none !important;
    }
}
#headerDesktopMenu {
    display: inline-block;
    float: right;
}
#headerDesktopMenu li {
    display: inline-block;
    float: right;
    color: #343434;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}
#headerDesktopMenu li:hover {
    cursor: pointer;
    font-weight: bolder;
    background: #3444A4;
    color: #FFF !important;
}
.social-icons img {
    display: inline-block;
    width: 34px;
    margin-left: 10px;
    float: right;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.social-icon {
    display: inline-block;
    fill: white;
    max-height: 34px;
}
.social-icon:hover {
    cursor: pointer;
}
.mobileMenuOverlay {
    width: 100%;
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    background: radial-gradient(rgba(42,54,59,0.2), rgba(42,54,59,0.6));
    z-index: 7000;
    display: none;
}
.mobileMenuVisible {
    display: block !important;
}
#mobileMenu {
    padding-top: 52px;
}
#mobileMenu li {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding-top: 5px;
}
#mobileMenu li:hover {
 font-weight: 600;
}
#mobileMenu a:hover {
    text-decoration: none;
}
#contactButton {
    background: #3444A4;
    color: #FFF !important;
}
#widthCompanyTitle {
    max-width: 350px;
}