body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #efefef;
}
section {
    /*height: 100%;*/
    padding-top: 100px;
    padding-bottom: 100px;
}
.sectionTitle {
    font-size: 3.5em;
    font-weight: 500;
    font-family: 'Anton', sans-serif;
    color: #8EDBFA;
    text-shadow: 1px 1px 1px rgba(2,2,2,.4);
}