body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #efefef;
}
section {
    padding-top: 90px;
    height: 100%;
}
.sectionTitle {
    font-size: 3.5em;
    font-weight: 500;
    font-family: 'Anton', sans-serif;
    color: #8EDBFA;
    text-shadow: 1px 1px 1px rgba(2,2,2,.4);
}