body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #efefef;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #3444A4;
}

::-moz-selection {
    background:#304489;
    color: whitesmoke;
}
::selection {
    background:#304489;
    color: whitesmoke;
}


.sectionTitle {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #3444A4;
}

.panel {
    box-shadow: 5px 5px rgba(0, 98, 90, 0.4),
                10px 10px rgba(0, 98, 90, 0.3),
                15px 15px rgba(0, 98, 90, 0.2),
                20px 20px rgba(0, 98, 90, 0.1),
                25px 25px rgba(0, 98, 90, 0.05);
}