#sliderSection {
    height: 100%;
}
.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-color: #d7d7d7;
}
.homeCover {
    -webkit-background-size: cover !important;
    background-size: cover !important;
}
.slides li {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
#bigLogo {
    position: absolute;
    z-index: 34000;
    top: 50%;
    left: 50%;
    margin-left: -21%;
    margin-top: -9%;
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}