.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #d7d7d7;
}
.homeCover {
    -webkit-background-size: cover !important;
    background-size: cover !important;
}
#slideOverlay {
    /*background: radial-gradient(at bottom, rgba(239,239,239,0.2), rgba(239,239,239,1));*/
    background: linear-gradient(to bottom,rgba(239,239,239,1),rgba(239,239,239,0.2));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slides li {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
#next {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 305px;
}
#prev {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 20;
    left: 15px;
    top: 305px;
}
#bigLogo {
    position: absolute;
    z-index: 34000;
    top: 50%;
    left: 50%;
    margin-left: -21%;
    margin-top: -9%;
}
#bigLogo img {
    max-width: 50%;
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#arrowDown {
    position: absolute;
    bottom: 45px;
    z-index: 50000;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    animation: blinker 2s linear infinite;
}
#arrowDown:hover {
    cursor: pointer;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}
@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}